@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Gilda+Display&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin         : 0;
    padding        : 0;
    list-style     : none;
    text-decoration: none;
    box-sizing     : border-box;
}

.container {
    max-width: 1200px;
    padding  : 0 20px;
    margin   : 0 auto;
}




body.login__page {
    min-height     : 100vh;
    display        : flex;
    justify-content: center;
    align-items    : center;
    background     : url(../img/background.svg);
    animation      : gradientBG 15s ease infinite;
    overflow       : hidden;
    font-family    : Montserrat, sans-serif;
}


@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.glass__container {
    position       : relative;
    width          : 380px;
    padding        : 40px;
    border-radius  : 20px;
    backdrop-filter: blur(15px);
    background     : rgba(255, 255, 255, 0.1);
    border         : 1px solid rgba(255, 255, 255, 0.4);
    box-shadow     : 0 25px 45px rgba(0, 0, 0, 0.4);
    z-index        : 10;
    overflow       : hidden;
}

.glass__container::before {
    content       : "";
    position      : absolute;
    top           : 0;
    left          : -100%;
    width         : 100%;
    height        : 100%;
    background    : rgba(255, 255, 255, 0.5);
    transform     : skewX(-15deg);
    transition    : 0.5s;
    pointer-events: none;
}

.glass__container:hover::before {
    left: 120%;
}

.glass__container h2 {
    color         : #fff;
    font-size     : 28px;
    font-weight   : 600px;
    text-align    : center;
    letter-spacing: 1px;
    margin-bottom : 40px;
    text-shadow   : 0 2px 4px rgba(0, 0, 0, 0.2);
}

.input__group {
    position     : relative;
    margin-bottom: 30px;
}

.input__group input {
    width        : 100%;
    padding      : 15px 20px;
    background   : rgba(255, 255, 255, 0.2);
    border       : none;
    outline      : none;
    border-radius: 35px;
    font-size    : 16px;
    color        : #fff;
    box-shadow   : 0 5px 15px rgba(0, 0, 0, 0.5);
    transition   : all 0.3s ease;
}

.input__group input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.input__group input:focus {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.input__group label {
    position      : absolute;
    top           : 50%;
    left          : 20px;
    transform     : translateY(-50%);
    color         : rgba(255, 255, 255, 0.8);
    font-size     : 16px;
    pointer-events: none;
    transition    : all 0.3s ease;
}

.input__group input:focus+label,
.input__group input:valid+label {
    top          : 0;
    left         : 15px;
    font-size    : 12px;
    background   : rgba(255, 255, 255, 0.2);
    padding      : 2px 8px;
    border-radius: 10px;
    color        : #fff;
}

.remember__forgot {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    margin-bottom  : 25px;
    color          : rgba(255, 255, 255, 0.8);
    font-size      : 14px;
}

.remember__forgot label {
    display    : flex;
    align-items: center;
    cursor     : pointer;
}

.remember__forgot input {
    margin-right: 8px;
    accent-color: #fff;
}

.remember__forgot a {
    color          : #fff;
    text-decoration: none;
    transition     : all 0.3s ease;
}

.remember__forgot a:hover {
    text-decoration: underline;
}

.login__btn {
    width        : 100%;
    padding      : 15px;
    background   : rgba(255, 255, 255, 0.3);
    border       : none;
    outline      : none;
    border-radius: 35px;
    font-size    : 16px;
    font-weight  : 600;
    cursor       : pointer;
    transition   : all 0.3s ease;
    box-shadow   : 0 5px 15px rgba(0, 0, 0, 0.1);
}

.login__btn:hover {
    background: rgba(255, 255, 255, 0.4);
    transform : translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.register__link {
    text-align: center;
    margin-top: 25px;
    color     : rgba(255, 255, 255, 0.8);
    font-size : 14px;
}

.register__link a {
    color          : #fff;
    font-weight    : 600;
    text-decoration: none;
    transition     : all 0.3s ease;
}

.register__link a:hover {
    text-decoration: underline;
}
























body.main__page {
    font-family: Montserrat, sans-serif;
}

.header {
    background: #404040bd;
}

.header__container {
    display        : flex;
    justify-content: center;
    align-items    : center;

}

.icons {
    width         : 100%;
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.icons__row {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    width          : 100%;
    gap            : 60px;
}

.icons__item {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    position      : relative;
    cursor        : pointer;
}

.icons__icon {
    font-size          : 34px;
    color              : transparent;
    -webkit-text-stroke: 2px #FFFFFF;
    transition         : 0.3s;
}

.icons__icon:hover {
    -webkit-text-stroke: 2px #2e3031;
}


.icons__text {
    display    : none;
    position   : absolute;
    left       : 60px;
    top        : 50%;
    transform  : translateY(-50%);
    animation  : slideIn 0.4s forwards;
    white-space: nowrap;
}

@keyframes slideIn {
    from {
        opacity  : 0;
        transform: translate(20px, -50%);
    }

    to {
        opacity  : 1;
        transform: translate(0, -50%);
    }
}

.icons__link {
    color          : #2e3031;
    text-decoration: none;
    font-family    : Montserrat;
    font-weight    : 400;
    font-style     : Regular;
    font-size      : 12px;
    line-height    : 100%;
    letter-spacing : 0%;

}

.icons__link:hover {
    text-decoration: underline;
}

.icons__button {
    margin-top   : 40px;
    padding      : 12px 25px;
    border       : none;
    background   : white;
    color        : #000000;
    font-size    : 16px;
    font-weight  : 700;
    border-radius: 30px;
    box-shadow   : 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor       : pointer;
    transition   : 0.3s;
    margin-bottom: 20px;
}

.icons__button:hover {
    box-shadow     : 0 6px 12px rgba(0, 0, 0, 0.2);
    text-decoration: underline;
}


















.navigation {
    background-color: #fff;
    padding         : 15px 0;
    box-shadow      : 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav__container {
    max-width      : 1200px;
    margin         : 0 auto;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding        : 0 20px;
}

.nav__links {
    display: flex;
    gap    : 49px;
}

.nav__links a {
    text-decoration: none;
    color          : #000000;
    position       : relative;
    padding        : 5px 0;
    transition     : all 0.3s ease;
    font-family    : Montserrat;
    font-weight    : 700;
    font-style     : Bold;
    font-size      : 12px;
    line-height    : 100%;
    letter-spacing : 0%;
}

.nav__links a:hover {
    color: #2e3031;
}

.nav__links a::after {
    content         : '';
    position        : absolute;
    bottom          : 0;
    left            : 0;
    width           : 0;
    height          : 2px;
    background-color: #2e3031;
    transition      : width 0.3s ease;
}

.nav__links a:hover::after {
    width     : 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.507);
}


.hamburger {
    display       : none;
    flex-direction: column;
    cursor        : pointer;
    padding       : 5px;
}

.hamburger span {
    width           : 25px;
    height          : 3px;
    background-color: #333;
    margin          : 3px 0;
    transition      : all 0.3s ease;
}



































@media (max-width: 768px) {
    .icons__row {
        display        : flex;
        justify-content: space-between;
    }

    .icons__text {
        position  : static;
        transform : none;
        margin-top: 8px;
        text-align: center;
    }

    .icons__button {
        margin-top: 30px;
    }

    .icons__phone {
        gap: 0;
    }
     

    .icons__text {
        display    : none;
        position   : absolute;
        left       : 0px;
        right      : 0px;
        top        : 200%;
        transform  : translateY(-50%);
        animation  : slideIn 0.4s forwards;
        white-space: nowrap;
    }

    .header:hover {
        padding-bottom: 50px;
    }

    .icons__button {
        margin-top   : 40px;
        padding      : 10px 10px;
        border       : none;
        background   : white;
        color        : #000000;
        font-size    : 12px;
        font-weight  : 600;
        border-radius: 30px;
        box-shadow   : 0 4px 8px rgba(0, 0, 0, 0.1);
        cursor       : pointer;
        transition   : 0.3s;
        margin-bottom: 20px;
    }





    .hamburger {
        display: flex;
    }

    .nav__links {
        position        : fixed;
        top             : 0;
        right           : -100%;
        height          : 100vh;
        width           : 70%;
        background-color: #fff;
        flex-direction  : column;
        justify-content : center;
        align-items     : center;
        gap             : 30px;
        transition      : right 0.4s ease;
        box-shadow      : -5px 0 15px rgba(0, 0, 0, 0.1);
        z-index         : 1000;
    }

    .nav__links.active {
        right: 0;
    }

    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
    }
}